# ===== ESP-IDF build output =====
build/

# ===== SDKCONFIG =====
sdkconfig.old
sdkconfig.bak
sdkconfig.*.old
sdkconfig.ci*
sdkconfig 2.old
sdkconfig 3

# ===== Python =====
__pycache__/
*.pyc
*.pyo
.env
.venv
venv/
env/

# ===== VS Code =====
.vscode/

# ===== PlatformIO (if ever used) =====
.pio/

# ===== CLion / JetBrains =====
.idea/
cmake-build-*/

# ===== macOS =====
.DS_Store

# ===== Logs =====
*.log